# MySQL 연결 설정
export MYSQL_HOST=192.168.0.95
export MYSQL_PORT=3309
export MYSQL_USER=root
export MYSQL_PASSWORD=b3UvSDS232GbdZ42
export MYSQL_DATABASE=subvention

# 네트워크 디버깅
export NODE_DEBUG=net,tls
